@import "../css/rfs";

$black: #1D1D1F;
$green: #16BF54;
$white: #FFFFFF;
$l-blue: #CEF8FF;
$d-blue: #7AE1F2;
$yellow: #FFE079;
$gray: #C4C4C4;


body {
    font-family: '_Graphik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: $black;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
}

.header__nav {
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

.header__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: inherit;
}

.header__btns {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 8px 24px;
    background-color: $green;
    color: $white;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    border-radius: 3px;

    &:last-child {
        background-color: $black;
    }
}

.header__inner {
    display: flex;
    align-items: center;
}

.info-row {
    display: flex;
    gap: 13px;
    margin-bottom: 16px;
}

.info-item__wrapper {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: $d-blue;
    }

    &:first-child:after {
        background-color: $yellow;
    }
}

.info-item {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
    border: 2px solid #000000;
    border-radius: 4px;
    position: relative;
    z-index: 2;

    span {
        position: relative;
        z-index: 2;
    }




}

.main-screen__inner {
    position: relative;
}

.main-screen__img {
    position: absolute;
    top: -56px;
    right: -196px;
}

.main-screen {
    @include padding-top(121px);
    @include padding-bottom(195px);
    background-color: $l-blue;
    overflow: hidden;
    position: relative;
}

.main-screen__title {
    font-weight: 700;
    @include font-size(60px);
    line-height: 113%;
    margin-bottom: 20px;
    max-width: 699px;
}

.main-screen__subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 155%;
    max-width: 587px;
}

.amount-block {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5F5F5;
    box-shadow: 0px 30px 44px rgba(45, 45, 45, 0.1);
    border-radius: 18px;
    padding: 36px 72px 36px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -85px;
    width: 100%;
}

.amount-block__logo {
    width: 237px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;

    span {
        font-weight: 600;
        font-size: 22px;
        line-height: 155%;
    }
}

.amount-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    position: relative;

    span {
        &:first-child {
            font-weight: 500;
            font-size: 46px;
            line-height: 100%;
        }
    }

    &:first-child {
        padding: 18px 44px 18px 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background-color: #000000;
            opacity: 0.1;
        }
    }

    &:nth-child(2) {
        padding: 18px 44px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background-color: #000000;
            opacity: 0.1;
        }
    }

    &:last-child {
        padding: 18px 0 18px 44px;
    }
}

.amount-block__content {
    display: flex;
}

.amount {
    position: relative;
    @include padding-top(206px);
    @include padding-bottom(280px);
}

.amount__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 155%;
}

.menu-burger__header {
    display: none;
}

@media screen and (max-width: 1250px) {
    .container {
        width: 90%;
    }

    .main-screen__img {
        position: static;
        max-width: 580px;
        width: 100%;
        height: auto;
    }

    .amount-item {
        width: 33%;
    }

    .amount-block__content {
        width: 100%;
    }

    .main-screen__title {
        max-width: 100%;
    }

    .main-screen__subtitle {
        max-width: 100%;
    }

    .main-screen__inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {
    .header__inner {
        display: none;
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 99;
        background-color: $white;
        padding: 60px 40px;

        .header__link {
            display: block;
        }

        .header__nav {
            flex-direction: column;
            margin-bottom: 45px;
        }

        .header__btns {
            flex-direction: column;
        }

        .btn {
            text-align: center;
        }
    }

    .menu-burger__header {
        display: block;
        position: relative;
        width: 24px;
        height: 17px;
        cursor: pointer;
    }

    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #999999;
        margin: 0 auto;
    }

    .menu-burger__header span {
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
    }

    .menu-burger__header:after,
    .menu-burger__header:before {
        content: '';
    }

    .menu-burger__header:after {
        bottom: 0;
    }

    .menu-burger__header:before {
        top: 0;
    }

    .menu-burger__header.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }

    .menu-burger__header.open-menu:before {
        transform: rotate(43deg);
        top: 9px;
        transition: 0.4s;
    }

    .menu-burger__header.open-menu:after {
        transform: rotate(-43deg);
        bottom: 5px;
        transition: 0.4s;
    }

    .amount-block {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {

    .container {
        padding-left: 26px;
        padding-right: 27px;
        width: 100%;
    }

    .logo-link {
        img {
            width: 129px;
            height: 32px;
        }
    }

    .info-row {
        gap: 7px;
        margin-bottom: 12px;
    }

    .info-item {
        padding: 5px 8px;

        span {
            font-size: 14px;
        }
    }

    .main-screen__title {
        font-size: 27px;
        margin-bottom: 12px;
    }

    .main-screen__subtitle {
        font-size: 17px;
        margin-bottom: 24px;
    }

    .amount-block__content {
        flex-direction: column;
    }

    .amount-item {
        width: 100%;
    }

    .amount-item {
        &:first-child {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-right: 0;

            &:after {
                width: 100%;
                height: 1px;
                top: auto;
                bottom: 0;
            }
        }

        &:nth-child(2) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 24px;
            padding-bottom: 24px;

            &:after {
                width: 100%;
                height: 1px;
                top: auto;
                bottom: 0;
            }
        }

        &:last-child {
            padding-left: 0;
            padding-top: 24px;
            padding-bottom: 0;
        }

    }

    .amount-block {
        padding: 32px;
        max-width: 300px;
        top: -212px;
    }

    .main-screen {
        padding-bottom: 226px;
    }


    .amount-item {
        span {
            font-size: 12px;

            &:first-child {
                font-size: 36px;
            }
        }
    }

    .amount {
        padding-top: 264px;
        padding-bottom: 220px;
    }

    .header__inner {
        width: 100%;
        height: 100vh;
    }

    .fixed-body {
        overflow: hidden;
    }
}
